{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'family/family.css' %}">
    <title>Проверка информации</title>
</head>

<body>

<a href="{% url 'family:person_detail' person.id %}">
    ← Назад к профилю
</a>

<h1>
    Проверка достоверности
</h1>

<p>
    <strong>
        {{ resource }}
    </strong>
</p>

<form method="post">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        Сохранить результат проверки
    </button>

</form>

</body>

</html>
